<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>About Weather Dashboard</title>
        <link href="./css/style.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="./favicon.ico">
    </head>
    <body class="bg-gray-100 py-8 sm:px-2 xl:px-12">
        <h1 class="text-3xl font-bold mb-4">About Weather Dashboard</h1>
        <p>Weather Dashboard is a project that allows you to view and manage weather data for different cities. It provides a simple interface to add, remove, and display the current weather information.</p>
        <p class="mt-4"><a href="https://github.com/andreanidouglas/weather-dashboard" target="_blank">View on GitHub</a></p>
    </body>
</html>