<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title></title>
        <link href="./css/style.css" rel="stylesheet" />

        <script src="./js/htmx.min.js"></script>
        <script>
            htmx.config.selfRequestsOnly = false;
        </script>
    </head>
    <body>
        <div
            hx-trigger="load"
            hx-get="/api/"
            class="relative flex min-h-screen flex-col justify-center bg-gray-50 py-2"
        ></div>
    </body>
</html>
