<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title></title>
        <link href="./css/style.css" rel="stylesheet" />
        <link rel="icon" type="image/x-icon" href="./favicon.ico">
        <script src="./js/htmx.min.js"></script>
       <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    </head>
    <body class="bg-gray-100 py-8 sm:px-2 xl:px-12">
        <div x-data="{f: {},
           setState(ev) {
                this.f = !this.f;
                localStorage.setItem('x_f', JSON.stringify(this.f));

            },

           init() {
                let v = localStorage.getItem('x_f');
                if (v) {
                    console.log(v);
                    this.f = JSON.parse(v);
                } else {
                    this.f = false;
                    localStorage.setItem('x_f', JSON.stringify(false));
                }
            }
        }">
        <label class="inline-flex items-center cursor-pointer">
            <input x-model='f' type="checkbox" value="yes" class="sr-only peer" name="fahrenheit" id="fahrenheit" @click="setState($event.target)">
            <div class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"></div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">Fahrenheit</span>
        </label>
        </div>

        <div x-data="{
            cities: [],
            cityInput: '',

            async setData() {
                if (this.cityInput !== '') {

                    let res = await fetch(`api/${this.cityInput}`);
                    if (!res.ok) {
                        console.log(`Invalid city ${this.cityInput}`)
                        return;
                    }

                    const gotCity = this.cityInput;
                    this.cities.push(cityInput.value);
                    localStorage.setItem('x_cities', JSON.stringify(this.cities));
                    this.cityInput='';
                    $nextTick(() => {
                            refresh_grid(gotCity);
                        }
                    );
                }


            },


            remove() {
                let idx = this.cities.indexOf(this.city);
                this.cities.splice(idx, 1);
                localStorage.setItem('x_cities', JSON.stringify(this.cities));
                console.log(this.cities);
                $nextTick(() => {
                        let cvs = document.querySelectorAll('.cities_c');
                        cvs.forEach((c) => {
                           htmx.process(c)
                        });

                    }
                );
            },
            add() {
                setData();
                $nextTick(() => {
                        let cvs = document.querySelectorAll('.cities_c');
                        cvs.forEach((c) => {
                           htmx.process(c)
                        });

                    }
                );

            },

            init() {
                let cities = localStorage.getItem('x_cities');
                if (cities) {
                    let ct = JSON.parse(cities);
                    const al = ct.filter((v) => v);
                    this.cities = al;
                }
                else {
                    this.cities = ['Dubai', 'Montreal', 'Perth', 'Johannesburg'];
                    localStorage.setItem('x_cities', JSON.stringify(this.cities));
                }
            },

        }">

            <input
               class=" my-4 border border-gray-300 rounded-md px-4 py-2 w-auto focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Enter city..."
                @keyup.enter="setData"
                x-model="cityInput"
                id="cityInput"
                name="q"
                list="city-suggestions"
                hx-get="/api/suggest"
                hx-trigger="keyup changed delay:300ms"
                hx-target="#city-suggestions"
                hx-swap="innerHTML"
                autocomplete="off"
                type="text">
            </input>
            <datalist id="city-suggestions">
                <!-- Dynamic options injected here -->
            </datalist>
            <button @click="setData" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add</button>


        <div class="grid xl:grid-cols-3 sm:grid-cols-1 sm:py-2 sm:my-2 sm:gap-4 md:grid-cols-2 xl:gap-4" id="grid">
            <template x-for="city in cities">

                <div :id="`${city.replaceAll(' ', '_').toLowerCase()}_v`" class="cities_c sm:my-2" hx-trigger="load, every 30s, change from:(#fahrenheit)" x-bind:hx-get="`api/${city}`" hx-include="[name='fahrenheit']"></div>

            </template>
            </div>


       </div>

         <script>

             function refresh_grid(ev) {
                 const id = `#${ev.replaceAll(' ', '_').toLowerCase()}_v`
                 const grid = document.querySelector(id);
                 htmx.process(grid);
             }

        </script>

    </body>
</html>
